<div class="container">
  <h1>{{ title }}</h1>
  <div class="form">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="name" type="text">
    <label for="age">Age:</label>
    <input id="age" [(ngModel)]="age" type="number">
    <button (click)="addUser()">Save</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
